<div>
  <div *ngIf="!outlet.isActivated">
    <div id="robot">
      <div class="head"></div>
      <div class="arm l">
        <div>
          <div></div>
        </div>
      </div>
      <div class="leg l">
        <div>
          <div></div>
        </div>
      </div>
      <div class="leg r">
        <div>
          <div></div>
        </div>
      </div>
      <div class="arm r">
        <div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="shadow"></div>
    <a routerLink="/strava">Get Strava stats</a>

  </div>
  <router-outlet #outlet="outlet"></router-outlet>
</div>
